Binaries
DerivedDataCache
Intermediate
Saved
Documentation
Content/Megascans
Content/DreamscapeSeries
Content/MetaHumans
Content/NaturePackage
Content/PN_GrassLibrary
Content/UltraDynamicSky
Content/beffio
Plugins/Developer
Plugins/EnvironmentSystem/Content/AssetPacks
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Build/
